html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h2 {
    margin: 48px;
  }
}